{
    "parserOptions":{
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "no-console":"off",
        "prefer-template":"error"
    },
    "env": {
        "browser": true
    }
}